.recycling__topics {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1130px;
    width: 100%;
    margin-bottom: 2rem;
}
.recycling__topics_available {
    width: 70%;
}
.recycling__topic_title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #4BC553;
    margin-bottom: .5rem;
}
.topic__wrapper {
    margin-right: 1rem;
}
.topic__keyword {
    font-weight: 700;
    margin: .75rem 0;
}
.topic__text {
    text-align: justify;
}
.recycling__form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.recycling__form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .75rem;
}
.recycling__form button{
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
    display: inline-block;
    background-color: #4BC553;
    color: #fff;
    text-align: center;
    padding: .5rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 8px;
    border: none;
}
#keyword, #text, #keywords {
    border: 1px #bcbcbc solid;
    box-shadow: none;
    border-radius: 5px;
    padding: .25rem .5rem;
}
#keyword, #text {
    width: 100%;
}
#text{
    resize: vertical;
}
.recycling__form_wrapper{
    width: 30%;
}